@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: jost !important;
}

#first-page {
  padding: 0 331px;
  /* padding: 0 calc((331px / 1920px) * 100%); */
}

/* -------NAVBAR STYLE---------- */
#navbar {
  /* padding: 20px 100px; */
  padding: 56px 0 !important;
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item span {
  margin: 0 30px;
  color: #162334;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mobile-menu {
  display: none;
}

.nav-items button {
  background-color: #1f3e50;
  color: white;
  margin-left: 30px;
  font-size: 20px;
}

.nav-items button:hover {
  background-color: #2e6a8a;
  transition: 1s;
}

@media (min-width: 801px) and (max-width: 1658px) {
  #navbar {
    padding: 25px 0;
  }
  #first-page {
    padding: 0 10%;
  }
  .nav-item span {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  #navbar {
    padding: 35px 0 90px 0 !important;
  }
  #first-page {
    width: 100%;
    padding: 0 2rem !important;
  }
  .mobile-menu {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
  .hero-section-img img {
    display: none;
  }
  #navbar img {
    width: 50%;
  }
}
/* -------------------- */

/* -------HERO SECTION STYLE---------- */
#hero-section {
  /* padding: 50px 100px; */
  padding-bottom: 70px;
}

.hero-section-img {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.hero-section-img img {
  width: 556px;
  height: 575px;
  width: 100%;
  margin-left: 100px;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-section-text h1 {
  max-width: 560px;
  color: #162334;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-section-text p {
  color: #6f6f6f;
  max-width: 516px;
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-section-text button {
  font-size: 30px;
  background-color: #1f3e50;
  color: white;
  width: 262px;
  height: 78px;
  flex-shrink: 0;
  margin-top: 60px;
}

.hero-section-text button:hover {
  background-color: #2e6a8a;
  transition: 1s;
}

@media (max-width: 800px) {
  .hero-section-text h1 {
    width: auto;
    font-size: 2.15rem !important;
  }
  .hero-section-text p {
    padding: 30px 0;
    width: auto;
    font-size: 1.2rem !important;
  }
  .hero-section-text button {
    width: 50%;
    font-size: 1.2rem;
    height: 50px;
  }
}
/* ------------------------- */

/* -------PROJECT SECTION STYLE---------- */
.projects-completion-div {
  background: linear-gradient(
    180deg,
    #141e2f 0%,
    #203f51 47.4%,
    #0e1921 99.48%
  );
}

.projects-completion-div {
  color: white;
  /* height: 346px; */
  padding: 0 200px;
  text-align: center;
  padding-bottom: 92px;
}

.projects-completion-div div h1 {
  font-size: 54px;
  font-weight: 700;
  padding-top: 92px;
}

.projects-completion-div div p {
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .projects-completion-div {
    padding: 0;
    padding-bottom: 92px;
  }
  .projects-completion-div div h1 {
    font-size: 1.9rem;
    padding-top: 80px;
  }
  .projects-completion-div div p {
    font-size: 1.6rem;
  }
}
/* ------------------------ */

/* -------HOW IT WORKS SECTION---------- */

#how-it-works-section {
  padding: 6rem 331px 170px 331px;
}

.how-it-works-section-text h1 {
  font-size: 3rem;
  font-weight: 500;
}

.how-it-works-section-text p {
  font-size: 34px !important;
  font-weight: 400;
}

.steps-card {
  margin-top: 70px;
  font-family: Jost, sans-serif;
  border-radius: 20px;
  width: 100%;
  position: relative;
  height: auto;
  box-shadow: 10px 10p 10px #0e1921;
  padding: 50px 40px;
  box-shadow: 10px 10px 10px #00000033;
}

.steps-card-img-container {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid;
  border-radius: 10px;
  padding-left: 20px;
  border-left-color: #8b9dff;
  border-top-color: #8b9dff;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.steps-card-img-container img {
  margin: 30px 0 0 10px;
  width: 100px;
  height: 100px;
}

.steps-card-part-1 h2 {
  position: absolute;
  top: -20px;
  right: 20px;
  color: rgba(255, 0, 0, 0.574);
  -webkit-text-fill-color: white;
  font-size: 132px;
  -webkit-text-stroke: 1px rgba(60, 57, 57, 0.488);
}

.steps-card-bottom-border {
  width: 150px;
  height: 150px;
  border-right: 5px solid #8b9dff;
  border-bottom: 5px solid #8b9dff;
  border-radius: 8px;
  z-index: -100;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}

.container-2 {
  border-left: 5px solid #ff9796;
  border-top: 5px solid #ff9796;
}
.container-3 {
  border-left: 5px solid #6dd1df;
  border-top: 5px solid #6dd1df;
}
.bottom-container-2 {
  border-right: 5px solid #ff9796;
  border-bottom: 5px solid #ff9796;
}
.bottom-container-3 {
  border-right: 5px solid #6dd1df;
  border-bottom: 5px solid #6dd1df;
}
.steps-card-part-2 {
  padding-top: 140px;
}

.steps-card-part-2 h2 {
  /* font-size: 1.4rem; */
  font-size: 33px;
}

.steps-card-part-2 p {
  margin-top: 20px;
  font-size: 18px;
  color: #585858;
}

@media (max-width: 1200px) {
  #how-it-works-section {
    margin: 0;
    padding: 4rem 0rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .steps-card {
    width: 100%;
    height: 100%;
  }

  .steps-card-part-2 p {
    margin-top: 20px;
    font-size: 18px;
    color: #585858;
  }
}
@media (max-width: 800px) {
  #how-it-works-section {
    padding: 4rem 1rem !important;
  }
  #how-it-works-section h1 {
    font-size: 2.3rem;
  }
  #how-it-works-section p {
    font-size: 1.3rem !important;
    margin-bottom: 40px;
  }
  .steps-card {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    margin: 10px 0px;
    width: 300px;
    height: 360px;
  }

  .steps-card-part-2 h2 {
    font-size: 30px;
  }
  #how-it-works-section .steps-card-part-2 p {
    font-size: 19px !important;
  }
  .steps-card-part-1 h2 {
    top: 10px;
    font-size: 90px;
  }

  .steps-card-img-container img {
    margin: 30px 0 0 10px;
    width: 80px;
    height: 80px;
  }
}
/* -------------------- */

/* -------ABOUT NEXAI---------- */
#about-nexai {
  padding: 0 328px 144px 328px;
}

#about {
  padding: 109px 331px 160px 331px;
}

#about-nexai .text-center h1,
#about .text-center h1 {
  font-size: 36px;
  font-weight: 500;
}

#about-nexai .text-center p:not(.about-nexai-card-caption) {
  font-size: 36px;
  font-weight: 400;
  color: #585858;
  /* padding: 10px; */
  /* margin-bottom: 70px !important; */
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 63px;
  border-radius: 100%;
  background-color: #1f3e50;
  margin-bottom: 25px;
}

.cards-nexai {
  margin-top: 146px;
}

#about-nexai .about-nexai-card,
#about .about-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 35px;
}

#about-nexai .about-nexai-card h2,
#about .about-card h1 {
  color: #162334;
  font-size: 30px !important;
  padding-bottom: 34px;
  font-weight: 500;
}

.about-nexai-card {
  padding-top: 146px;
}
.about-nexai-card-caption,
.about-card p {
  font-size: 24px;
  font-weight: 500;
  color: #6f6f6f;
}

@media (max-width: 1300px) {
  #about-nexai {
    padding: 10px;
  }
  #about-nexai h1 {
    font-size: 2.2rem !important;
  }
  #about-nexai p {
    font-size: 1.7rem !important;
  }
}

@media (max-width: 800px) {
  #about-nexai {
    padding: 50px 20px !important;
  }
  #about {
    padding: 0;
  }
  #about-nexai h1 {
    font-size: 1.5rem !important;
  }
  #about-nexai .about-nexai-card h2,
  #about .about-card h1 {
    color: #162334;
    font-size: 22px !important;
    padding-bottom: 10px;
    font-weight: 500;
  }
  #about-nexai p {
    font-size: 1.1rem !important;
  }
  .about-nexai-card-caption {
    font-size: 18px;
  }
  .about-card p {
    font-size: 18px !important;
  }
  .cards-nexai {
    margin-top: 70px;
  }
  .card-icon {
    margin-bottom: 15px;
  }
}

/* ------------------------ */

/* ------------BILLING SECTION STYLE-------------- */
#billing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f3e5014;
  padding: 61px 0;
}

.first-part h1 {
  font-size: 40px;
  font-weight: 500;
}

.first-part p {
  font-size: 24px;
  font-weight: 500;
  padding: 0 428px;
  color: #6f6f6f;
}

.pricing-card-2 hr {
  opacity: 0.6;
}

.pricing-cards {
  padding: 0 385px;
}
.pricing-card {
  border-radius: 20px;
}

.pricing-card a {
  padding: 13px 60px !important;
  font-size: 24px !important;
}

.pricing-card h3 {
  font-size: 30px;
}

.billing-section-button button {
  padding: 18px 40px;
  font-size: 24px;
}

/* .billing-section-button button:nth-child(1) {
} */

@media (max-width: 1200px) {
  .first-part p {
    padding: 0 20px;
    font-size: 1.1rem;
  }
  .pricing-cards {
    padding: 30px 40px;
  }
  .first-part h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 720px) {
  .first-part p {
    padding: 0 20px;
    font-size: 1.1rem;
  }
  .first-part h1 {
    font-size: 1.9rem;
  }
  .billing-section-button button {
    padding: 10px 10px;
    font-size: 17px;
  }
  .billing-section-button button div {
    top: -30px !important;
    left: -20px !important;
  }
  .billing-section-button button img:nth-child(2) {
    width: 21px;
    /* display: none; */
  }
  .billing-section-button button img:nth-child(1) {
    width: 45px;
  }

  .pricing-cards {
    padding: 30px 40px;
  }

  .pricing-card a {
    padding: 10px 20px !important;
    font-size: 18px !important;
  }
}
/* ----------------- */

/* ------------FEEDBACK STYLE-------------- */
#feedback {
  padding: 84px 331px 175px 331px;
}

#feedback .feedback-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(18, 29, 43, 0.112);
  margin: 20px;
  width: 310px;
  height: 300px;
}

.feedback-customer-img {
  position: relative;
  width: 100px;
  height: 100px;
  top: -50px;
}

#feedback h1 {
  font-size: 48px;
  font-weight: 500;
}
#feedback h2 {
  font-size: 20px;
}
#feedback hr {
  border: 1px solid #00000023;
  width: 100%;
  margin: 10px 0 30px 0;
}

@media (max-width: 800px) {
  #feedback {
    padding: 30px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #feedback h1 {
    font-size: 30px;
  }
}
/* --------------------------- */

/* --------------Last section------------- */
#last-section {
  padding: 135px 331px;
  background-color: #1f3e5014;
}

.last-section-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.last-section-img img {
  width: 540px;
}

.last-section-text h2 {
  font-size: 39px;
  line-height: 1.4;
  color: #162334;
  font-weight: 600;
}

.last-section-text p {
  font-size: 1.1rem;
  margin-top: 20px;
  color: #6f6f6f;
}

.last-section-text button {
  font-size: 30px;
  background-color: #1f3e50;
  color: white;
  padding: 17px 55px;
  margin-top: 40px;
}

.last-section-text button:hover {
  background-color: #2e6a8a;
  transition: 1s;
}
@media (max-width: 800px) {
  #last-section {
    padding: 80px 40px;
  }
  .last-section-img {
    display: none;
  }
  .last-section-text h2 {
    font-size: 25px;
  }
  .last-section-text p {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #6f6f6f;
  }
  .last-section-text button {
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 40px;
  }
}

/* ------------------------------------------------------- */

/* -----------FOOTER STYLE-------------- */
#footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 176px 200px !important;
  width: 100%;
  height: 765px;
  background: linear-gradient(
    180deg,
    #141e2f 0%,
    #203f51 47.4%,
    #0e1921 99.48%
  );
}

.white-box {
  width: 410px;
  height: 305px;
  padding: 30px 40px 10px 40px;
  border-radius: 10px;
  background-color: #cacaca1b;
}

#footer p {
  font-size: 22px;
  opacity: 0.75;
  cursor: pointer;
}

#footer p:hover {
  color: #dbd9d9;
}

.footer-column h2 {
  margin-bottom: 20px;
}
.footer-column {
  color: white;
  font-size: 23px;
}

.white-box p {
  font-size: 16px !important;
  margin-top: 15px;
  color: white;
  opacity: 0.6 !important;
}

#footer hr {
  opacity: 0.6;
}

.social-media-links {
  margin-top: 63px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.social-media-links-1 {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  align-items: center;
  color: white;
}

.social-media-links-1 p {
  font-size: 19px;
  opacity: 1;
  margin: 0 10px;
}

@media (max-width: 1200px) {
  .white-box {
    display: none;
  }
}
@media (max-width: 800px) {
  #footer {
    padding: 30px 20px !important;
    background-color: linear-gradient(
      180deg,
      #141e2f 0%,
      #203f51 47.4%,
      #0e1921 99.48%
    ) !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-column h2 {
    font-size: 20px;
  }
  .footer-column p {
    font-size: 18px !important;
  }
  .white-box {
    display: none;
  }
  .footer-part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-media-links-1 {
    margin-left: 0px;
  }
  .social-media-links {
    margin-top: 0px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .social-media-links-1 p {
    font-size: 20px !important;
    opacity: 1;
    margin: 20px 10px;
  }
  .yo {
    display: none;
  }
}
