@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: poppins;
}

/* -------NAVBAR STYLE---------- */
#navbar {
  font-family: poppins;
  padding: 20px 100px;
}
.nav-items {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.nav-item span {
  font-size: 16px;
}

.nav-items button {
  background-color: #1f3e50;
  color: white;
}

.nav-items button:hover {
  background-color: #2e6a8a;
  transition: 1s;
}
@media (max-width: 640px) {
  body {
    margin: 30px 10px;
  }
  nav img {
    width: 200px;
    margin-right: 10px;
  }
}
/* -------------------- */

/* -------HERO SECTION STYLE---------- */
#hero-section {
  padding: 50px 100px;
}

.hero-section-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-section-img img {
  width: 55%;
}

.hero-section-text h1 {
  font-size: 2.1rem;
  line-height: 1.4;
  color: #162334;
  font-weight: 600;
}

.hero-section-text p {
  font-size: 1.1rem;
  margin-top: 20px;
  color: #6f6f6f;
}

.hero-section-text button {
  font-size: 17px;
  background-color: #1f3e50;
  color: white;
  margin-top: 40px;
}

.hero-section-text button:hover {
  background-color: #2e6a8a;
  transition: 1s;
}

.hero-section-text {
  padding-left: 26%;
  padding-top: 8%;
}

/* ------------------------- */

/* -------PROJECT SECTION STYLE---------- */
.projects-completion-div {
  background: linear-gradient(
    180deg,
    #141e2f 0%,
    #203f51 47.4%,
    #0e1921 99.48%
  );
}

.projects-completion-div {
  color: white;
  padding: 57px;
}

.projects-completion-div div h1 {
  font-size: 35px;
  font-weight: 600;
}
/* ------------------------ */

/* -------HOW IT WORKS SECTION---------- */

#how-it-works-section {
  margin: 6% 10%;
}

.how-it-works-section-text h1 {
  font-size: 2rem;
  font-weight: 500;
}

.how-it-works-section-text p {
  font-size: 1.3rem;
  font-weight: 300;
}

.steps-card {
  margin-top: 5rem;
  border-radius: 20px;
  width: 100%;
  height: auto;
  box-shadow: 10px 10p 10px #0e1921;
  padding: 30px 40px;
  box-shadow: 10px 10px 10px #00000033;
}

.steps-card-img-container {
  display: inline-block;
  position: relative;
  bottom: 40px;
  right: 30px;
  border: 5px solid;
  border-radius: 10px;
  padding-left: 30px;
  border-left-color: #8b9dff;
  border-top-color: #8b9dff;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.steps-card-img-container img {
  margin: 20px 0 0 10px;
  width: 80px;
}
.steps-card-part-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.steps-card-part-1 h2 {
  position: relative;
  bottom: 30px;

  color: black;
  -webkit-text-fill-color: white;
  font-size: 6rem;
  -webkit-text-stroke: 1px black;
}

.steps-card-part-2 h2 {
  font-size: 1.4rem;
}

.steps-card-part-2 p {
  font-size: 0.9rem;
  margin-top: 20px;
  color: #585858;
}
/* -------------------- */

/* -------ABOUT NEXAI---------- */
#about-nexai {
  padding: 10% 15% 4% 15%;
}

#about {
  padding: 6% 15% 10% 15%;
}

#about-nexai .text-center h1,
#about .text-center h1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 10px;
}

#about-nexai .text-center p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #585858;
  margin-bottom: 70px !important;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #1f3e50;
}

#about-nexai .about-nexai-card,
#about .about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 80px;
}

#about-nexai .about-nexai-card h1,
#about .about-card h1 {
  color: #162334;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 10px;
}
/* ------------------------ */

/* ------------BILLING SECTION STYLE-------------- */
#billing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f3e5014;
  padding: 7% 15%;
}

.first-part {
  padding: 0 200px;
}

.pricing-card-2 hr {
  opacity: 0.6;
}

/* ----------------- */

/* ------------BILLING SECTION STYLE-------------- */
#feedback {
  padding: 0% 15% 7% 15%;
}

#feedback .feedback-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(18, 29, 43, 0.112);
  margin: 20px;
}

.feedback-customer-img {
  position: relative;
  bottom: 40px;
}

#feedback hr {
  border: 1px solid #00000023;
  width: 100%;
}

/* --------------------------- */

/* --------------Last section------------- */
#last-section {
  padding: 50px 100px;
  background-color: #1f3e5014;
}

.last-section-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.last-section-img img {
  width: 55%;
}

.last-section-text h1 {
  font-size: 2.1rem;
  line-height: 1.4;
  color: #162334;
  font-weight: 600;
}

.last-section-text p {
  font-size: 1.1rem;
  margin-top: 20px;
  color: #6f6f6f;
}

.last-section-text button {
  font-size: 17px;
  background-color: #1f3e50;
  color: white;
  margin-top: 40px;
}

.last-section-text button:hover {
  background-color: #2e6a8a;
  transition: 1s;
}

.last-section-text {
  padding-left: 26%;
  padding-top: 8%;
}

/* ------------------------------------------------------- */

/* -----------FOOTER STYLE-------------- */
#footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 10% 10%;
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    180deg,
    #141e2f 0%,
    #203f51 47.4%,
    #0e1921 99.48%
  );
}

.yoo {
  color: #162334 !important;
  font-family: poppins;
  font-size: 50px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
